<div id="<%= dom_id participation %>">
  <p>
    <strong>User:</strong>
    <%= participation.user.email %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= participation.event.name %>
  </p>

</div>
