<div id="<%= dom_id notification %>">

  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= notification.datetime %>
  </p>

</div>
